@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0; list-style:none; box-sizing:border-box; text-decoration:none}
#div-all{ margin-left:80px}
#head-banner{width:1146px; height:80px; border-bottom:0.5px solid rgba(0,255,0,0.2)}
#head-banner img{width:1146px;}
#head-logo{ position:absolute; margin-top:-14px }
#head-logo img{ height:70px; width:370px}
#head-logo ul{position:absolute; top:20px;left:665px; width:405px}
#head-logo ul li{  width:40px; float:left; margin-left:5px; box-sizing:border-box; display:block}
#head-logo ul li:hover #logo-dan-9,#head-logo ul li:hover #logo-dan-8,#head-logo ul li:hover #logo-dan-7,#head-logo ul li:hover #logo-dan-6,#head-logo ul li:hover #logo-dan-5,#head-logo ul li:hover #logo-dan-4,#head-logo ul li:hover #logo-dan-3,#head-logo ul li:hover #logo-dan-2{ display:block}

#logo-dan-9,#logo-dan-8,#logo-dan-7,#logo-dan-6,#logo-dan-5,#logo-dan-4,#logo-dan-3,#logo-dan-2{ width:37px; background:rgba(0,255,0,1); position:absolute; font-size:26px;  text-align:center; z-index:1; overflow:hidden; display:none; animation:move1 ease 1.5s}
#logo-dan-9{right:47px;}
#logo-dan-8{right:90px;}
#logo-dan-7{right:136px;}
#logo-dan-6{right:181px;}
#logo-dan-5{right:px;}
#logo-dan-4{right:271px;}
#logo-dan-3{right:316px;}
#logo-dan-2{right:361px;}
#logo-dan a{ color:rgba(0,0,0,1)}
#logo-dan a:hover{color:#f00;}
@keyframes move1{
	from{ height:0px}
	to{ height:175px}
	}
#head-logo ul li:hover{ background:rgba(194,246,234,1); border-radius:5px 5px 5px 5px;}
/*#head-logo-ul2{margin-top:200px; width:80px; height:20px; display:block; border:2px solid red}*/
#head-logo ul li img{ width:40px; height:40px;}

#menu{ position:absolute; top:137px;left:80px;width:1146px; background:rgba(255,220,205,1); border-radius:15px}
#menu ul{ height:80px; width:100%; line-height:70px; margin-left:80px; text-align:center}
#menu ul li:nth-child(1){ margin-left:30px}
/*#menu-lisp{width:300px; height:202px;display:block; position:absolute; z-index:4; top:60px; display:none}*/

#menu ul li{width:120px; float:left; margin-left:5px; font-size:24px;}
#menu ul li:nth-child(6),#menu ul li:nth-child(7){ width:135px;margin-left:5px;}
#menu ul li:hover{ background:rgba(51,255,204,1); border-radius:20px}
#menu ul li a{ color:rgba(0,0,0,1); text-decoration:none;margin-left:15px}


#zhuye-mean{ background:rgba(255,255,255,1); width:300px; height:200px; border:1px solid rgba(51,51,51,1);position:relative;  box-sizing:border-box; display:none }
#zhuye-mean{margin:-278px 195px;}
#zhuye-mean-2{margin:-278px 295px;}
#zhuye-mean-l,#zhuye-mean-r{ position:absolute; top:0;}
#zhuye-mean-l{left:0; width:100px; height:200px; border-right:1px solid rgba(102,102,102,1)}
#zhuye-mean-l-1{ width:70px; height:70px; border:1px solid rgba(0,0,0,1); margin:20px 10px; background:url(../images/icenter.png); background-position:1023px 262px; background-size:3120px}
#zhuye-mean-l-1 #zhuye-sp{ margin-top:74px; margin-left:18px;padding:0 5px; display:block;}

#zhuye-mean-r{right:0; width:200px; height:200px;}
#zhuye-sp{ text-align:center; display:block; position:absolute;}

#img-li1,#img-li2,#img-li3{ position:absolute; top:70px;}
#img li:nth-child(1){background-position:-249px -294px; background-size:1090px; }
#img-li1{ left:25px}
#img li:nth-child(2){background-position:-298px -58px; background-size:1090px}
#img-li2{ left:86px}
#img li:nth-child(3){background-position:-347px -284px; background-size:1090px}
#img-li3{ left:143px}
#img-li4{display:block; position:absolute;top:150px; width:48px}
#img li:nth-child(4){background-position:-496px -235px;margin-top:24px; background-size:1090px}
#img-li5{background-position:126 86; position:absolute;top:150px;left:86px}
#img li:nth-child(5){background-position:-497px -284px; background-size:1090px}
#img{ width:200px; height:200px; margin-top:15px; margin-left:15px}
#img li{ background-image:url(../images/icenter.png); width:50px; height:50px; border:1px solid rgba(0,0,0,1); display:inline-block; z-index:5;margin-left:2px}
#img li:hover,#zhuye-mean-l-1:hover{ border:1px solid #f00; box-sizing:border-box; cursor:pointer;}
#img li a,#zhuye-mean-l-1 a{ color:rgba(0,0,0,1)}
#img li a:hover,#zhuye-mean-l-1 a:hover{ color:rgba(255,0,0,1); font-weight:bold}


#div-lun{ width:1146px; height:400px; position:absolute; top:127px; position:relative; overflow:hidden}
#div-lun img{ height:400px; display:block}
#div-lun ul{ position:absolute; top:0}
#div-lun:hover #btn-l,#div-lun:hover #btn-r{ display:block;}
#btn-l,#btn-r{ width:50px; height:50px; background:rgba(153,153,153,1);position:absolute; top:50%; cursor:pointer; cursor:pointer;display:none}
#btn-l{ left:0px}
#btn-r{ right:0px}

