@charset "utf-8";
/* CSS Document */

.bck{ background:rgba(0,204,0,1)}
.col{ color:rgba(0,174,131,1)}
.dis{ display:block}
*{ padding:0px; margin:0px; list-style:none; text-decoration:none}
#hd-ul{; }
#hd-ul ul{ text-align:center; line-height:50px; position:absolute;width:100% ; background:rgba(133,133,133,1);}
#hd-ul ul li:nth-child(1){ margin-left:100px}
#hd-ul ul li{float:left; margin-left:60px;; width:150px; border-radius:10px}
#hd-ul ul li a{color:rgba(0,0,0,1); color:rgba(255,255,255,1)}
#hd-ul ul li a:hover{ color:rgba(0,255,0,1)}
.hd-sp2{ display:block; width:300px; height:100px; margin:180px 130px;}
#hd-sp{color:rgba(255,0,51,1); width:200px; height:100px;margin:-130px 251px; font-size:18px; display:block; animation:move ease 10s infinite}
@keyframes move{
	0%{color:rgba(255,0,51,1);}
	20%{color:rgba(255,0,255,1)}
	40%{color:rgba(255,255,0,1)}
	60%{color:rgba(204,0,255,1);}
	80%{color:rgba(153,255,0,1);}
	100%{color:rgba(255,0,51,1)}
	}
#more:hover{ color:rgba(255,0,0,1); font-weight:300}
#dv-img{ width:1100px; border:1px solid rgba(255,0,0,1); opacity:1; height:650px; margin:-245px auto}
#dv-img img{ margin:10px; padding:5px; cursor:pointer}
#stars{position:absolute; top:50px; left:240px; opacity:0.8; animation:move1 ease 3s infinite}
@keyframes move1{
	0%{ transform:scale(1)}
	50%{ transform:scale(0.6)}
	100%{ transform:scale(1)}
	}
#hidd{ width:188px; height:188px; background:rgba(153,153,153,0.4); text-align:center; line-height:188px; color:rgba(255,0,0,0.4); font-weight:bold; margin:-392px 140px; display:none; position:absolute}
#hidd:hover{cursor:pointer;display:block}
