@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0; list-style:none}
background{width:500px; height:400px}
.imgbd{ border:1px solid rgba(255,0,0,1)}
#dv-1{ width:500px; border:1px solid #666; margin:50px auto}
#dv-1-t{width:500px; height:360px;border:1px solid rgba(0,255,0,1); background-size:cover}
#dv-1-b{ 
	width:500px; 
	position:absolute; 
	border-top:1px solid rgba(51,51,51,1);  
	background:rgba(204,204,204,1) no-repeat;
	background-size: cover;}
#dv-1-b img{width:450px; height:400px}
#dv-1-b img{ width:120px; height:120px; box-sizing:border-box; float:left;  margin-left:4px}
